ul.nav {margin:0; padding:0; list-style:none; height:50px; line-height:50px; width:99%; background:#eaeaeaff; /* #6a4255; you can change the backgrund color here. 

*/font-family:arial,sans-serif,Helvetica;font-size:15px;}


ul.nav li {border-right:1px solid #eaeaeaff; /*    you can change the border color matching to your background color */
float:left;}


ul.nav a {display:block;padding:1 28px;color:black;text-decoration:none;}


ul.nav a:hover,  ul.nav li.current a {background:#FFFFFF;}


p.intro {font-family:verdana;font-size:30px;}


p.sitedesc {font-family:arial,sans-serif,Helvetica;font-size:20px;} 




